<!DOCTYPE html>
<html lang="en">
<% include components/htmlhead %>

<body>
    <% include components/navbar %>
    <div class="container">
        <h1>Update a task</h1>
        <% if (typeof errorMsg !== 'undefined') { %>
            <p id="errorMsg" class="text-danger"><%= errorMsg %></p>
        <% } %>

        <% if (tasks.length > 0) { %>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Assigned By</th>
                <th>Group</th>
                <th>Supporting<br>Documents</th>
                <th>Status</th>
                <th>Proof of completion</th>
                <th>Update</th>
            </thead>
            <tbody>
        <% for (var i = 0; i< tasks.length; i++) { %>
        <% if (tasks[i][5] != "Closed") { %>
            <form name=<%= 'update' + tasks[i][0] %> action='tasks/update' method="post" enctype="multipart/form-data">
                <tr>
                    <input type="hidden" name="id" value=<%= tasks[i][0] %> />
                    <td><%= tasks[i][1] %></td>
                    <td><%= tasks[i][2] %></td>
                    <td><%= tasks[i][3] %></td>
                    <td><a href="/group/<%= tasks[i][4] %>"><%= tasks[i][5] %></a></td>
                    <td>
                        <% if (tasks[i][6] == null) { %>
                        N/A
                        <% } else { %>
                        <a href=<%= "/task/" + tasks[i][0] + "/help" %>>Click to download</a>
                        <% } %>
                    </td>
                    <td>
                        <select name="status">
                            <% for (var j=0;j<statuses[i].length;j++) { %>
                                <% if(statuses[i][j]==tasks[i][7]) { %>
                                    <option selected><%= statuses[i][j] %></option>
                                <% } else { %>
                                    <option><%= statuses[i][j] %></option>
                                <% } %> <!-- if statuses/task -->
                            <% } %> <!-- for j loop -->
                        </select>
                    </td>
                    <td>
                        <% if(tasks[i][8]) { %>
                            <a href="/task/<%= tasks[i][0] %>/proof"><%= tasks[i][8].originalname %></a>
                        <% } else { %>
                            None
                        <% } %>
                        <input type="file" name="proofFile">
                    </td>
                    <td><button type="submit" class="btn btn-default">Update</button></td>
                </tr>
            </form>
        <% }} %> <!-- for loop ends -->
                    </tbody>
        </table>
        <% } else { %> <!-- if block ends -->
            <p>No tasks have been assigned to you yet.</a></p>
        <% } %>
    </div> <!-- container -->
    <% include components/scripts %>
</body>
</html>
