<!DOCTYPE html>

<html lang="en">
<% include components/htmlhead %>

    <body>
        <% include components/navbar %>
        <div class="container">
            <% if (ownsCurrentGroup) { %>
                <div class="row">
                    <div class="col-m-12">
                        <h3>Group management</h3>
                        <a class="btn btn-primary" href="/group/<%= groupId %>/newInvite" role="button">Invite users</a>
                    </div>
                </div>
            <% } %>
            <h1>Task List
              <% if (groupName) { %>
                for the group <%= groupName %>
              <% } %>
            </h1>
            <% if (!taskList || taskList.length == 0) { %>
                <p>No tasks yet. Why not <a href="/group/<%= groupId %>/createTask">create</a> one?</p>
            <% } else { %>
                <table class="table table-striped">
                    <thead>
                        <th>Task Name</th>
                        <th>Task Description</th>
                        <th>Status</th>
                        <th>Assigned By</th>
                        <th>Assigned To</th>
                    </thead>
                    <tbody>
                        <% taskList.forEach(function(task) { %>
                            <tr>
                                <td>
                                    <%= task[0] %>
                                </td>
                                <td>
                                    <%= task[1] %>
                                </td>
                                <td>
                                    <%= task[2] %>
                                </td>
                                <td><a href=<%="/tasks/" + task[3] %>><%= task[4] %></a></td>
                                <td><a href=<%="/tasks/" + task[5] %>><%= task[6] %></a></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <a class="btn btn-primary" href="/group/<%= groupId %>/createTask" role="button">Create new task</a>
            <% } %>
        </div> <!-- container -->
        <% include components/scripts %>
    </body>

</html>
